.vscode/

# web_server
web_server/node_modules/
web_server/package-lock.json
web_server/parkhaus-cache.json
web_server/ServiceAccountKey.json

# scraper
scraper/__pycache__/
scraper/*.pyc
scraper/config.json
scraper/*.html
scraper/dump-all.json
scraper/error.log
